.quickAccessDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px; /* Adjust as needed */
    background: rgba(12, 12, 12, 0.06);
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 8px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 40vw;
    height: 83.4dvh;
    padding: 5px;
    margin-bottom:6px;
}