.iconDiv{
    border-radius: 8px;
    /* background-color: white; */
    padding: 2px;
    margin: 2px;
    display: flex;
    justify-content:center;
    align-items: center;
    background: rgba(205, 204, 204, 0.171);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    /* border: 1px solid rgba( 255, 255, 255, 0.18 );     */
    transition: background 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;

}
.iconImage {
    margin-top: 15px;
    /* filter: hue-rotate(105deg); */
    filter: invert(3%);
}
.iconPara{
    font-family: 'Fira Code', monospace;
    font-weight:600;
    font-size: 1rem;
    color:#176B87;
    margin-bottom: 15px;
}

.iconDiv > a {
    text-align: center;
    text-decoration: none;
}

.iconDiv:hover {
    background:radial-gradient(circle, rgba(23, 21, 21, 0.198) 0, #2626262c 100%);
    scale: 101%;
    box-shadow: 1px 2px 1px rgba(255, 0, 89, 0.353);
    color: #04364A;

}
@media (max-width: 770px) {
    .iconImage{
        height: 27px;
        width: 27px;
    }
    .iconPara{
        font-size: 0.8rem;
    }
}