.iconDiv{
    border-radius: 8px;
    /* background-color: white; */
    padding: 2px;
    margin: 2px;
    display: flex;
    justify-content:center;
    align-items: center;
    background: rgba(205, 204, 204, 0.171);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    /* border: 1px solid rgba( 255, 255, 255, 0.18 );     */
    transition:background 0.5s;
}
.iconImage {
    margin-top: 15px;
}
.iconPara{
    font-family: 'Fira Code', monospace;
    font-weight:600;
    font-size: 1.1rem;
    color: black;
    margin-bottom: 15px;
}

.iconDiv > a {
    text-align: center;
    text-decoration: none;
}

.iconDiv:hover {
    background: linear-gradient(to right, rgba(203, 213, 250, 0.15), rgba(177, 246, 209, 0.15));
    scale: 101.5%;
    box-shadow: 1px 2px 2px 1px rgba(215, 180, 192, 0.755);

}