
html, body {
    background-image: linear-gradient(to top, #f6f6df 0%, rgb(223, 255, 244) 100%);    
    overflow:hidden;
    margin: 0;
    padding: 0;
    @media (max-width: 768px) {
        overflow: auto;
    }
}
  

  