.dummyWrapper{
    background-image: radial-gradient(#d0cfcf57 1px,transparent 60%);
    background-size: 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2.3vh;
    padding-bottom: 2.3vh;
    /* mask-image: radial-gradient(ellipse at center,rgba(0,0,0,1),transparent 100%); */
}


.subWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.widgetsContainer {
    width: 40vw;
    margin-left: 1vw;
    height: 83.4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(12, 12, 12, 0.06);
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 5px;
    /* margin-bottom: 7px; */
}

@media (max-width: 770px) {
    .subWrapper{
        /* display: block; */
        flex-direction: column;
    }
    .widgetsContainer{
        margin-left: 0;
        margin-top: 20px;
        width: 80vw;
        height: max-content;
    }
}
