.weatherDiv{
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    background: rgba(205, 204, 204, 0.171);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.042); */
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    text-align: center;
    transition: background 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    color:#176B87;
}
.weatherDiv:hover {
    background:radial-gradient(circle, rgba(23, 21, 21, 0.198) 0, #2626262c 100%);
    scale: 101%;
    box-shadow: 1px 2px 1px rgba(255, 0, 89, 0.353);
    color: #04364A;

}